@import "tailwindcss";

:root {
  --background: #f9f8f6;
  --foreground: #2b2b2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --color-kutip-green: #4f7730;
  --color-kutip-olive: #92aa56;
  --color-kutip-bg: #f9f8f6;
  --color-kutip-main: #faf9f5;
  --color-kutip-dark: #2b2b2b;
  --color-kutip-splash: #758c3b;
}

body {
  background-color: #ebe8e1;
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

